.profile{margin: 0; padding: 0; float: right}
.profile li{display: inline-block; margin: 0 5px; border-left: 1px solid #000; line-height: 12px; padding-left: 10px;}
.profile li:first-child{border: none}